@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');



*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fonte1:'Luckiest Guy', cursive;
    --fonte2: 'Kalam', cursive;

}
header {
    background-color: black;
}
header h1 {
    color: white;
    text-align: center;
    font-size: 7vw;
    padding-top: 50px;
    font-family: var(--fonte1);
}
header p {
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: gray;
}
section {
    padding: 50px;
    font-family: var(--fonte2);
    font-size: 3vw;
}
.solida{
    box-shadow: 0px 5px 4px 0px rgba(0,0,0,0.75);
}
.transparente{
    background-color: gray;

}
.transparente p {
    background-color: rgba(0, 0, 0, 0.486);
   width: 50%;
   border-radius: 5px;
   color: white;
}
.transparente#foto1{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center;
    background-size: cover;
}
.transparente#foto2{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center;
    background-size: cover;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;

}
